
//---------------------------------------CUSTOM------------------------------------
//Custom CSS

body{ 
    //POZADINA
    background-image: url("../img/computers.png") ;
    background-attachment: fixed;
    background-size: cover; 

    color: white; /* da bi tekst bio beo */

    overflow-x: hidden;
    font-family: 'Lato',sans-serif;
    color: rgb(255, 255, 255);
    
} 
//NAVIGATION

.navbar{
    text-transform: uppercase;
    font-weight: 500;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.6) !important; //da bi navbar bio malo proziran

}

.navbar-nav li{
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
    color: rgb(255, 255, 255);
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1ebba3;
}

/*----LANDING PAGE-------- */
.home-inner{
    // background-image: 
}
.caption {
    //border: 2px solid red;
    
    width: 100%;
    max-width: 100%;
    position: relative;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
}
